/* Set base styles for all elements */
* {
    background-color: black;
    color: #f00f0f;
  }
  
  /* Define styles for the `.border` class */
  .border {
    margin: 0 auto; /* Center the element horizontally */
    border: solid yellow 2px;
    padding: 1rem; /* Add some padding inside the border */
  }
  
  /* Media query to adjust styles for smaller screens */
  @media only screen and (max-width: 768px) {
    .border {
      padding: 0.5rem; /* Reduce padding for smaller screens */
    }
  }
  
